html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(0, 0, 0, .9);
}

#jogador {
    display: flex;
    align-items: center;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

#jogador img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 5px black;
}

#jogador .jogador-descricao {
    background-color: rgb(50, 50, 50);
    padding: 1rem;
    box-shadow: 0px 0px 5px gray;
    border-radius: 1rem;
    height: 100%;
}

#jogador #nome {
    font-size: 1.2rem;
    margin: 0;
    background-color: rgb(50, 50, 50);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#jogador #posicao {
    text-transform: uppercase;
    margin: 0;
    color: black;
    background-color: rgb(200, 200, 200);
    border-radius: 0 0 1rem 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#jogador .jogador-principal {
    width: fit-content;
    margin-right: 2rem;
    text-align: center;
}

#jogador .jogador-descricao {
    width: 80%
}

@media screen and (max-width: 768px) {
    #jogador {
        flex-direction: column;
    }

    #jogador .jogador-principal {
        margin: auto;
        margin-bottom: 2rem;
    }
}

.voltar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.voltar:hover {
    color: rgba(255, 255, 255, .8);
}