html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0, .9);
}

#login {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#login .login-conteudo {
    text-align: center;
}

#login .login-entrada .input-entrada {
    margin-bottom: 1rem;
}

#login .login-entrada .input-entrada input,
#login .login-entrada .input-entrada button {
    padding: 1rem .5rem;
}

.esconder {
    display: none !important;
}

.conteudo {
    display: grid;
    gap: 1rem;
    text-align: center;
    width: 80%;
    margin: auto;
}

.titulo {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(50, 50, 50);
    text-align: center;
    color: white;
}

.subtitulo {
    margin-top: 5rem;
    color: white;
    text-align: center;
}

.conteudo .jogador {
    width: 100%;
}

.jogador {
    transition: transform .2s;
}

.jogador:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.conteudo .jogador .nome {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    background-color: rgb(50, 50, 50);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -4px;
}

.conteudo .jogador img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 1024px) {
    .conteudo { grid-template-columns: 1fr 1fr 1fr 1fr }    
}

@media screen and (max-width: 768px) {
    .conteudo { grid-template-columns: 1fr 1fr }    
}

@media screen and (min-width: 1024px) {
    .conteudo { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr }    
}
